In [2]:
import pandas as pd

,X,Y,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,...,END_DATE,report_hour,report_dayofweek,report_month,report_year,lat_rounded,lon_rounded,hour,weekday,month
0,397719.1000,140159.5500,2024-08-08 05:52:11+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,3100 - 3199 BLOCK OF SHERMAN AVENUE NW,397719.100000,140159.550000,1.0,...,2024-08-08 05:21:00+00:00,5,3,8,2024,38.929,-77.026,5,3,8
1,401211.6000,138483.2400,2024-03-24 20:28:36+00:00,EVENING,OTHERS,THEFT F/AUTO,1300 - 1399 BLOCK OF OKIE STREET NE,401211.600000,138483.240000,5.0,...,2024-03-24 03:23:00+00:00,20,6,3,2024,38.914,-76.986,20,6,3
2,401508.5800,137047.0200,2024-03-25 16:25:41+00:00,DAY,OTHERS,THEFT/OTHER,812 - 899 BLOCK OF BLADENSBURG ROAD NE,401508.580000,137047.020000,5.0,...,2024-03-25 16:16:00+00:00,16,0,3,2024,38.901,-76.983,16,0,3
4,396171.0500,137945.8000,2024-03-29 23:31:57+00:00,EVENING,OTHERS,THEFT/OTHER,1 - 7 BLOCK OF DUPONT CIRCLE NW,396171.050000,137945.800000,2.0,...,2024-03-29 20:55:00+00:00,23,4,3,2024,38.909,-77.044,23,4,3
5,402332.0600,130674.9000,2024-05-29 02:49:29+00:00,EVENING,OTHERS,SEX ABUSE,2100 - 2298 BLOCK OF MISSISSIPPI AVENUE SE,402332.060000,130674.900000,8.0,...,2024-05-29 01:56:00+00:00,2,2,5,2024,38.844,-76.973,2,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29280,400003.4967,130592.4887,2024-10-14 04:00:00+00:00,MIDNIGHT,OTHERS,HOMICIDE,ALABAMA AVENUE SE AND MARTIN LUTHER KING JR AV...,400003.496702,130592.488727,8.0,...,2024-10-06 00:55:00+00:00,4,0,10,2024,38.843,-77.000,4,0,10
29282,405745.8892,137503.5948,2024-05-29 23:00:45+00:00,EVENING,GUN,ROBBERY,1100 - 1199 BLOCK OF 48TH STREET NE,405745.889219,137503.594845,7.0,...,2024-05-29 22:52:00+00:00,23,2,5,2024,38.905,-76.934,23,2,5
29283,400922.6700,139857.4700,2024-05-30 19:19:44+00:00,EVENING,OTHERS,THEFT F/AUTO,1200 - 1299 BLOCK OF GIRARD STREET NE,400922.670000,139857.470000,5.0,...,2024-05-30 18:00:00+00:00,19,3,5,2024,38.927,-76.989,19,3,5
29284,397162.0600,140182.4300,2024-06-01 01:26:39+00:00,EVENING,OTHERS,THEFT/OTHER,3100 - 3299 BLOCK OF 14TH STREET NW,397162.060000,140182.430000,1.0,...,2024-06-01 01:45:00+00:00,1,5,6,2024,38.930,-77.033,1,5,6
29285,400038.1400,137846.6900,2024-06-03 21:48:24+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,1250 - 1299 BLOCK OF 4TH STREET NE,400038.140000,137846.690000,5.0,...,2024-06-03 21:50:00+00:00,21,0,6,2024,38.908,-77.000,21,0,6